In [2]:
!pip install ipython-sql psycopg2-binary

Requirement already satisfied: ipython-sql in c:\users\user\anaconda3\lib\site-packages (0.3.9)
Collecting psycopg2-binary
  Downloading psycopg2_binary-2.9.11-cp313-cp313-win_amd64.whl.metadata (5.1 kB)
Requirement already satisfied: prettytable in c:\users\user\anaconda3\lib\site-packages (from ipython-sql) (3.17.0)
Requirement already satisfied: ipython>=1.0 in c:\users\user\anaconda3\lib\site-packages (from ipython-sql) (9.7.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\users\user\anaconda3\lib\site-packages (from ipython-sql) (2.0.45)
Requirement already satisfied: sqlparse in c:\users\user\anaconda3\lib\site-packages (from ipython-sql) (0.5.4)
Requirement already satisfied: six in c:\users\user\anaconda3\lib\site-packages (from ipython-sql) (1.17.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\users\user\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: colorama>=0.4.4 in c:\users\user\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.6)
Requirement already satisfied: decorator>=4.3.2 in c:\users\user\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.2.1)
Requirement already satisfied: ipython-pygments-lexers>=1.0.0 in c:\users\user\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (1.1.1)
Requirement already satisfied: jedi>=0.18.1 in c:\users\user\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.19.2)
Requirement already satisfied: matplotlib-inline>=0.1.5 in c:\users\user\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.1)
Requirement already satisfied: prompt_toolkit<3.1.0,>=3.0.41 in c:\users\user\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (3.0.52)
Requirement already satisfied: pygments>=2.11.0 in c:\users\user\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (2.19.2)
Requirement already satisfied: stack_data>=0.6.0 in c:\users\user\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.6.3)
Requirement already satisfied: traitlets>=5.13.0 in c:\users\user\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.14.3)
Requirement already satisfied: wcwidth in c:\users\user\anaconda3\lib\site-packages (from prompt_toolkit<3.1.0,>=3.0.41->ipython>=1.0->ipython-sql) (0.2.13)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in c:\users\user\anaconda3\lib\site-packages (from jedi>=0.18.1->ipython>=1.0->ipython-sql) (0.8.5)
Requirement already satisfied: greenlet>=1 in c:\users\user\anaconda3\lib\site-packages (from sqlalchemy>=0.6.7->ipython-sql) (3.2.4)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\user\anaconda3\lib\site-packages (from sqlalchemy>=0.6.7->ipython-sql) (4.15.0)
Requirement already satisfied: executing>=1.2.0 in c:\users\user\anaconda3\lib\site-packages (from stack_data>=0.6.0->ipython>=1.0->ipython-sql) (2.2.1)
Requirement already satisfied: asttokens>=2.1.0 in c:\users\user\anaconda3\lib\site-packages (from stack_data>=0.6.0->ipython>=1.0->ipython-sql) (3.0.0)
Requirement already satisfied: pure_eval in c:\users\user\anaconda3\lib\site-packages (from stack_data>=0.6.0->ipython>=1.0->ipython-sql) (0.2.3)
Downloading psycopg2_binary-2.9.11-cp313-cp313-win_amd64.whl (2.7 MB)
   ---------------------------------------- 0.0/2.7 MB ? eta -:--:--
   --- ------------------------------------ 0.3/2.7 MB ? eta -:--:--
   ------------------- -------------------- 1.3/2.7 MB 5.5 MB/s eta 0:00:01
   ------------------------------ --------- 2.1/2.7 MB 4.5 MB/s eta 0:00:01
   ---------------------------------------- 2.7/2.7 MB 3.6 MB/s  0:00:00
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.9.11

In [3]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [6]:
%sql postgresql://postgres:Daylad_3464@localhost:5432/ChEMBL36

Connecting to 'postgresql://postgres:***@localhost:5432/ChEMBL36'

In [15]:
from sqlalchemy import create_engine

# 1. RE-DEFINE the connection string here
# Replace 'your_password' and 'localhost' with your actual credentials
user = "postgres"
password = "your_password"
host = "localhost"
port = "5432"
db = "ChEMBL36"

connection_string = f"postgresql://postgres:Daylad_3464@localhost:5432/ChEMBL36"

# 2. Create the engine
engine = create_engine(connection_string)

# 3. Connect JupySQL to the engine
%sql engine

In [17]:
%%sql
SELECT * FROM version;

+---------------------------------+---------------------+------------------------------------------------------------------------------------------------------------------------------+
|               name              |    creation_date    |                                                           comments                                                           |
+---------------------------------+---------------------+------------------------------------------------------------------------------------------------------------------------------+
|      Bioassay Ontology 2.0      |         None        |                                  BAO version used for assays (http://bioassayontology.org/)                                  |
|         COCONUT 2025-07         |         None        |                   COCONUT version used for natural product flagging (https://coconut.naturalproducts.net/)                   |
|            ChEMBL_36            | 2025-07-28 00:00:00 |                                       ChEMBL Release 36 (https://www.ebi.ac.uk/chembl)                                       |
| ChEMBL_Structure_Pipeline 1.2.0 |         None        | ChEMBL_Structure_Pipeline version used for chemical structure curation (https://github.com/chembl/ChEMBL_Structure_Pipeline) |
|            EFO 3.74.0           |         None        |                        EFO version used for indication and warning data (https://www.ebi.ac.uk/efo/)                         |
|     Gene Ontology 2024-02-22    |         None        |                                  GO version used for genes (https://www.ebi.ac.uk/QuickGO/)                                  |
|           InChI v1.06           |         None        |                     InChI version used for compound registration (https://github.com/IUPAC-InChI/InChI)                      |
|            MeSH 2025            |         None        |                      MeSH version used for indication data (https://www.nlm.nih.gov/mesh/meshhome.html)                      |
|         RDKit 2022.09.4         |         None        |          RDKit version used for standardisation and salt stripping of chemical structures (https://www.rdkit.org/)           |
|        Swiss-Prot 2025_03       |         None        |               UniProtKB version used for component_sequences data (https://www.expasy.org/resources/uniprotkb)               |
+---------------------------------+---------------------+------------------------------------------------------------------------------------------------------------------------------+
Truncated to displaylimit of 10.

In [18]:
# Parameters for our curation
target_chembl_id = 'CHEMBL1871'
measurement_type = 'IC50'

print(f"Filtering ChEMBL36 for {target_chembl_id} {measurement_type} values...")

# Step 1: Drop old tables if they exist
%sql DROP TABLE IF EXISTS ar_raw_assays CASCADE;
%sql DROP TABLE IF EXISTS ar_curated_data CASCADE;

# Step 2: Identify High-Confidence, Non-Mutant Assays
%sql \
    SELECT a.assay_id, a.chembl_id as assay_chembl_id, a.description, a.tid, d.year \
    INTO TEMPORARY TABLE ar_raw_assays \
    FROM assays a \
    JOIN target_dictionary t ON a.tid = t.tid \
    JOIN docs d ON a.doc_id = d.doc_id \
    WHERE t.chembl_id = :target_chembl_id \
    AND a.confidence_score = 9 \
    AND a.assay_type = 'B' \
    AND (a.variant_id IS NULL) \
    AND NOT (LOWER(a.description) LIKE '%mutant%' OR LOWER(a.description) LIKE '%mutation%');

# Step 3: Extract Activities and Clean Units
%sql \
    SELECT act.molregno, act.pchembl_value, act.standard_value, act.standard_units, \
           tmp.assay_chembl_id, tmp.year as publication_year \
    INTO TEMPORARY TABLE ar_curated_data \
    FROM activities act \
    JOIN ar_raw_assays tmp ON act.assay_id = tmp.assay_id \
    WHERE act.standard_type = :measurement_type \
    AND act.standard_units = 'nM' \
    AND act.standard_relation = '=' \
    AND act.pchembl_value IS NOT NULL \
    AND act.data_validity_comment IS NULL;

# Step 4: Check our results
result = %sql SELECT COUNT(*) as total_rows FROM ar_curated_data;
print(f"Successfully curated {result} high-quality data points.")

Filtering ChEMBL36 for CHEMBL1871 IC50 values...

RuntimeError: (Your query contains named parameters (target_chembl_id) but the named parameters feature is "warn".
Enable it with: %config SqlMagic.named_parameters="enabled"
or disable it with: %config SqlMagic.named_parameters="disabled"
For more info, see the docs: https://jupysql.ploomber.io/en/latest/api/configuration.html#named-parameters)
(sqlalchemy.exc.InvalidRequestError) A value is required for bind parameter 'target_chembl_id'
[SQL: SELECT a.assay_id, a.chembl_id as assay_chembl_id, a.description, a.tid, d.year INTO TEMPORARY TABLE ar_raw_assays FROM assays a JOIN target_dictionary t ON a.tid = t.tid JOIN docs d ON a.doc_id = d.doc_id WHERE t.chembl_id = %(target_chembl_id)s AND a.confidence_score = 9 AND a.assay_type = 'B' AND (a.variant_id IS NULL) AND NOT (LOWER(a.description) LIKE '%%mutant%%' OR LOWER(a.description) LIKE '%%mutation%%' );]
[parameters: [{}]]
(Background on this error at: https://sqlalche.me/e/20/cd3x)

In [19]:
%config SqlMagic.named_parameters="enabled"

In [23]:
# 1. Enable parameter passing
%config SqlMagic.named_parameters="enabled"

# 2. Define variables
target_chembl_id = 'CHEMBL1871'
measurement_type = 'IC50'

print(f"Searching ChEMBL for {target_chembl_id} (Single Protein Only)...")

# 3. Step 1: Filter for Single Protein Assays
%sql DROP TABLE IF EXISTS ar_raw_assays CASCADE;
%sql \
    SELECT a.assay_id, a.chembl_id as assay_chembl_id, a.description, a.tid, d.year \
    INTO TEMPORARY TABLE ar_raw_assays \
    FROM assays a \
    JOIN target_dictionary t ON a.tid = t.tid \
    JOIN docs d ON a.doc_id = d.doc_id \
    WHERE t.chembl_id = :target_chembl_id \
    AND t.target_type = 'SINGLE PROTEIN' \
    AND a.bao_format = 'BAO_0000357' \
    AND a.confidence_score = 9 \
    AND a.assay_type = 'B' \
    AND (a.variant_id IS NULL) \
    AND NOT (LOWER(a.description) LIKE '%mutant%' OR LOWER(a.description) LIKE '%mutation%');

# 4. Step 2: Extract Activities
%sql DROP TABLE IF EXISTS ar_curated_data CASCADE;
%sql \
    SELECT act.molregno, act.pchembl_value, act.standard_value, \
           tmp.assay_chembl_id, tmp.year \
    INTO TEMPORARY TABLE ar_curated_data \
    FROM activities act \
    JOIN ar_raw_assays tmp ON act.assay_id = tmp.assay_id \
    WHERE act.standard_type = :measurement_type \
    AND act.standard_units = 'nM' \
    AND act.standard_relation = '=' \
    AND act.pchembl_value IS NOT NULL;

Searching ChEMBL for CHEMBL1871 (Single Protein Only)...

++
||
++
++

In [24]:
result = %sql SELECT COUNT(*) FROM ar_curated_data;
print(result)

+-------+
| count |
+-------+
|  408  |
+-------+

In [25]:
%%sql
SELECT * FROM ar_curated_data 
LIMIT 10;

+----------+---------------+----------------+-----------------+------+
| molregno | pchembl_value | standard_value | assay_chembl_id | year |
+----------+---------------+----------------+-----------------+------+
|  111016  |      6.52     |     300.0      |   CHEMBL648074  | 2004 |
|  110748  |      6.77     |     170.0      |   CHEMBL648074  | 2004 |
|  712273  |      7.05     |      89.0      |   CHEMBL648076  | 2004 |
|  100621  |      5.18     |     6525.0     |   CHEMBL648076  | 2004 |
|  218915  |      6.67     |     215.0      |   CHEMBL647746  | 2003 |
|  219001  |      5.82     |     1500.0     |   CHEMBL647746  | 2003 |
|  218149  |      6.05     |     900.0      |   CHEMBL647746  | 2003 |
|  34608   |      8.21     |      6.1       |   CHEMBL647746  | 2003 |
|  218718  |      6.59     |     258.0      |   CHEMBL647746  | 2003 |
|  12825   |      7.43     |      37.0      |   CHEMBL647746  | 2003 |
+----------+---------------+----------------+-----------------+------+
Truncated to displaylimit of 10.

In [26]:
# 1. Enable parameter passing
%config SqlMagic.named_parameters="enabled"

# 2. Define variables
target_chembl_id = 'CHEMBL1871'
measurement_type = 'IC50'

print(f"Curating {target_chembl_id} and removing 3.0 pChEMBL unit discrepancies...")

# 3. Step 1: Filter for Single Protein Assays
%sql DROP TABLE IF EXISTS ar_raw_assays CASCADE;
%sql \
    SELECT a.assay_id, a.chembl_id as assay_chembl_id, a.description, a.tid, d.year \
    INTO TEMPORARY TABLE ar_raw_assays \
    FROM assays a \
    JOIN target_dictionary t ON a.tid = t.tid \
    JOIN docs d ON a.doc_id = d.doc_id \
    WHERE t.chembl_id = :target_chembl_id \
    AND t.target_type = 'SINGLE PROTEIN' \
    AND a.bao_format = 'BAO_0000357' \
    AND a.confidence_score = 9 \
    AND a.assay_type = 'B' \
    AND (a.variant_id IS NULL) \
    AND NOT (LOWER(a.description) LIKE '%mutant%' OR LOWER(a.description) LIKE '%mutation%');

# 4. Step 2: Extract Activities
%sql DROP TABLE IF EXISTS ar_curated_data CASCADE;
%sql \
    SELECT act.molregno, act.pchembl_value, act.standard_value, \
           tmp.assay_chembl_id, tmp.year \
    INTO TEMPORARY TABLE ar_curated_data \
    FROM activities act \
    JOIN ar_raw_assays tmp ON act.assay_id = tmp.assay_id \
    WHERE act.standard_type = :measurement_type \
    AND act.standard_units = 'nM' \
    AND act.standard_relation = '=' \
    AND act.pchembl_value IS NOT NULL;

# 5. Step 3: Remove records with pChEMBL discrepancies >= 3.0
# We find molregnos where the difference between any two tests is too high
%sql \
    DELETE FROM ar_curated_data \
    WHERE molregno IN ( \
        SELECT t1.molregno \
        FROM ar_curated_data t1 \
        JOIN ar_curated_data t2 ON t1.molregno = t2.molregno \
        WHERE ABS(t1.pchembl_value - t2.pchembl_value) >= 3.0 \
    );

print("Discrepancy removal complete.")

Curating CHEMBL1871 and removing 3.0 pChEMBL unit discrepancies...
Discrepancy removal complete.

In [27]:
count_res = %sql SELECT COUNT(*) FROM ar_curated_data;
print(f"Remaining high-quality data points: {count_res}")

Remaining high-quality data points: +-------+
| count |
+-------+
|  408  |
+-------+

In [28]:
%%sql
SELECT * FROM ar_curated_data 
LIMIT 10;

+----------+---------------+----------------+-----------------+------+
| molregno | pchembl_value | standard_value | assay_chembl_id | year |
+----------+---------------+----------------+-----------------+------+
|  111016  |      6.52     |     300.0      |   CHEMBL648074  | 2004 |
|  110748  |      6.77     |     170.0      |   CHEMBL648074  | 2004 |
|  712273  |      7.05     |      89.0      |   CHEMBL648076  | 2004 |
|  100621  |      5.18     |     6525.0     |   CHEMBL648076  | 2004 |
|  218915  |      6.67     |     215.0      |   CHEMBL647746  | 2003 |
|  219001  |      5.82     |     1500.0     |   CHEMBL647746  | 2003 |
|  218149  |      6.05     |     900.0      |   CHEMBL647746  | 2003 |
|  34608   |      8.21     |      6.1       |   CHEMBL647746  | 2003 |
|  218718  |      6.59     |     258.0      |   CHEMBL647746  | 2003 |
|  12825   |      7.43     |      37.0      |   CHEMBL647746  | 2003 |
+----------+---------------+----------------+-----------------+------+
Truncated to displaylimit of 10.

In [29]:
# 1. Configuration
%config SqlMagic.named_parameters="enabled"

# 2. Parameters
target_id = 'CHEMBL1871'
measurement = 'IC50'

print(f"Executing Maximal Curation for {target_id}...")

# ---------------------------------------------------------
# STEP 1: Gather Assays with Confidence 9 and Document Links
# ---------------------------------------------------------
%sql DROP TABLE IF EXISTS ar_assays_filtered CASCADE;
%sql \
    SELECT a.assay_id, a.doc_id, a.chembl_id as assay_chembl_id, \
           count(distinct act.molregno) as compound_count \
    INTO TEMPORARY TABLE ar_assays_filtered \
    FROM assays a \
    JOIN target_dictionary t ON a.tid = t.tid \
    JOIN activities act ON a.assay_id = act.assay_id \
    WHERE t.chembl_id = :target_id \
      AND t.target_type = 'SINGLE PROTEIN' \
      AND a.confidence_score = 9 \
      AND a.doc_id IS NOT NULL \
      AND a.assay_type = 'B' \
      AND a.variant_id IS NULL \
      AND NOT (LOWER(a.description) LIKE '%mutant%' OR LOWER(a.description) LIKE '%mutation%') \
    GROUP BY a.assay_id, a.doc_id, a.chembl_id;

# ---------------------------------------------------------
# STEP 2: Retain only the largest Assay per Document
# ---------------------------------------------------------
%sql DROP TABLE IF EXISTS ar_assays_final CASCADE;
%sql \
    SELECT assay_id, assay_chembl_id \
    INTO TEMPORARY TABLE ar_assays_final \
    FROM ( \
        SELECT assay_id, assay_chembl_id, \
               ROW_NUMBER() OVER (PARTITION BY doc_id ORDER BY compound_count DESC) as rank \
        FROM ar_assays_filtered \
    ) ranked_assays \
    WHERE rank = 1;

# ---------------------------------------------------------
# STEP 3: Extract Activities and Apply Discrepancy Filter (3.0 units)
# ---------------------------------------------------------
%sql DROP TABLE IF EXISTS ar_curated_data CASCADE;
%sql \
    SELECT act.molregno, act.pchembl_value, f.assay_chembl_id \
    INTO TEMPORARY TABLE ar_curated_data \
    FROM activities act \
    JOIN ar_assays_final f ON act.assay_id = f.assay_id \
    WHERE act.standard_type = :measurement \
      AND act.standard_units = 'nM' \
      AND act.standard_relation = '=' \
      AND act.pchembl_value IS NOT NULL;

# ---------------------------------------------------------
# STEP 4: Remove compounds with discrepancy >= 3.0 across assays
# ---------------------------------------------------------
%sql \
    DELETE FROM ar_curated_data \
    WHERE molregno IN ( \
        SELECT t1.molregno \
        FROM ar_curated_data t1 \
        JOIN ar_curated_data t2 ON t1.molregno = t2.molregno \
        WHERE ABS(t1.pchembl_value - t2.pchembl_value) >= 3.0 \
    );

print("Maximal curation complete.")

Executing Maximal Curation for CHEMBL1871...
Maximal curation complete.

In [30]:
results = %sql SELECT COUNT(DISTINCT molregno) as final_compounds, COUNT(*) as final_rows FROM ar_curated_data;
print(results)

+-----------------+------------+
| final_compounds | final_rows |
+-----------------+------------+
|       1402      |    1599    |
+-----------------+------------+